<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.fest.mapper.ChapterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuan.fest.entity.Chapter">
        <id column="id" property="id" />
        <result column="book_id" property="bookId" />
        <result column="name" property="name" />
        <result column="is_read" property="isRead" />
        <result column="is_cache" property="isCache" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="chapterPoSql">
        id, book_id, name, is_read, is_cache
    </sql>

    <sql id="chapterPoSqlWithTableName">
        ${tablename}.id,
        ${tablename}.book_id,
        ${tablename}.name,
        ${tablename}.is_read,
        ${tablename}.is_cache
    </sql>
</mapper>
